<fieldset>
    <legend>{{legend}}</legend>
    {{#inputs}}
    <input type="radio" name="{{../name}}" id="{{id}}" value="{{value}}">
    <label for="{{id}}">{{label}}</label>
    {{/inputs}}
</fieldset>