<fieldset>
  <legend>{{legend}}</legend>
  <select name="{{name}}" id="{{id}}">
    <option selected value="">{{placeholder}}</option>
    {{#options}}
      <option value="{{value}}">{{name}}</option>
    {{/options}}
  </select>
</fieldset>